USE [master]
GO
/****** Object:  Database [sibeta]    Script Date: 08/12/2024 23:26:25 ******/
CREATE DATABASE [sibeta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sibeta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sibeta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sibeta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\sibeta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sibeta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sibeta]
GO
/****** Object:  Table [dbo].[berkas]    Script Date: 08/12/2024 23:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[berkas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](255) NULL,
	[nim] [varchar](20) NULL,
	[prodi] [varchar](100) NULL,
	[bukti] [varchar](255) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status_pengajuan]    Script Date: 08/12/2024 23:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status_pengajuan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[prodi] [varchar](100) NOT NULL,
	[ukt_status] [varchar](20) NOT NULL,
	[perpustakaan_status] [varchar](20) NOT NULL,
	[kompen_status] [varchar](20) NOT NULL,
	[skripsi_status] [varchar](20) NOT NULL,
	[jurnal_status] [varchar](20) NOT NULL,
	[file_path] [varchar](255) NULL,
	[nim] [varchar](20) NULL,
	[nama] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08/12/2024 23:26:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](30) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](30) NULL,
	[name] [nvarchar](50) NULL,
	[nim] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[status_pengajuan]  WITH CHECK ADD  CONSTRAINT [FK_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[status_pengajuan] CHECK CONSTRAINT [FK_user]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([role]='mahasiswa' OR [role]='admin'))
GO
USE [master]
GO
